@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/green";

html {
    overflow-y: scroll;
}

body {
    font: var(--font-m);
    color: var(--primary-color);
    background-color: var(--color-bg-default);
}

.app {
    background-color: var(--color-bg-default);
    height: 100vh;
    font: var(--font-m);
    color: var(--color-text-primary);
    padding: 0;
    width: 100%;
}

/* width */
*::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}
