@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/green";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.app-v2 {
    background: var(--bg-v2);
    min-height: 100vh;
    font: var(--font-m-v2);
    color: var(--text-v2);
    padding: 0;
    width: 100%;
}

.content-page {
    display: flex;
}

/* width */
*::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}
