.label {
    color: var(--color-text-primary);
}

.trigger {
    //background: var(--color-bg-dark);
    //border-radius: 18px;
    //border: none;
    //outline-color: transparent;
    //padding: 0;
    //margin: 0;

    //button {
    //    padding: 8px 12px;
    //    border-color: var(--color-bg-light);
    //    border-radius: 18px;
    //}
}

.options {
    position: absolute;
    z-index: 1000;
    color: var(--color-text-primary);
    background: var(--color-bg-light);
    min-width: 120px;
    width: fit-content;
    max-width: 300px;
    box-shadow: 0 2px 10px 0 var(--shadow-dark);
}

.item {
    padding: 10px 20px;
    cursor: pointer;
}

.active {
    background-color: var(--color-bg-default);
    color: var(--color-text-inverted);
}

.readonly {
    .label {
        opacity: 0.8;
    }
}


.selected {
    color: red;
}