:root {
    --font-family-main: "DejaVu Sans Mono", "Times New Roman", serif;
    --font-family-text: "Nunito Sans", sans-serif;
    --font-family-title: "Roboto", sans-serif;

    // xs
    --font-size-xs: 13px;
    --font-line-xs: 20px;
    --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-text);

    // s
    --font-size-s: 15px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-text);

    // m
    --font-size-m: 16px;
    --font-line-m: 22px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-text);

    // l
    --font-size-l: 22px;
    --font-line-l: 28px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-title);

    // xl
    --font-size-xl: 30px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-title);

    // Sizes
    --navbar-height: 50px;
    --sidebar-width: 186px;
    --sidebar-width-collapsed: 80px;
    --rightbar-width: 110px;

    // z - index
    --modal-z-index: 1000;
    --overlay-z-index: 100;

    // Colors
    --overlay-color: rgba(0 0 0 / 60%);
    --red-light: #c91616;
    --red-dark: #800000;

    // Radius
    --radius-m: 4px;
    --radius-l: 12px;
    --radius-xl: 24px;
}
