.title {
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid var(--inverted-secondary-color);
}

.list {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-around;
    padding: 2px 2px 8px;
    gap: 20px;
}
