.title {
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid var(--hint-v2);
}

.list {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-around;
    padding: 8px 8px 14px;

}
