.AboutPage {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--light-bg-v2);
  border-radius: var(--radius-xl);
  padding: 26px;

  h2 {
    color: var(--accent-v2);
    font: var(--font-xl-v2);
    font-weight: bold;
  }

  li {
    list-style-type: circle;
    margin-left: 28px;
    font: var(--font-m-v2);

    span {
      font-weight: bold;
    }
  }

  p {
    font: var(--font-l-v2);
  }
}