.AddCommentForm {
    border-radius: var(--radius-l);
    background-color: var(--dark-bg-v2);
    padding: 20px 30px;
    box-shadow: 0 2px 10px 0 var(--box-shadow-v2);
}

.input {
    flex-grow: 1;
}
