.AddCommentForm {
    border: 1px solid var(--secondary-color);
    border-radius: var(--radius-l);
    background-color: var(--card-bg);
    padding: 20px;
}

.input {
    flex-grow: 1;
    margin-right: 10px;

    input {
        padding: 6px;
    }
}

.sendBtn {
    border: 1px solid var(--primary-color);
}
