.primary {
    .title {
        font: var(--font-l-v2);
        color: var(--color-text-primary);
    }

    .text {
        color: var(--color-text-primary);
    }
}


.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.accent {
    .title {
        color: var(--color-state-accent);
    }

    .text {
        color: var(--color-state-accent);
    }
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.size_s {
    .title {
        font: bold var(--font-m-v2);
    }

    .text {
        font: var(--font-s-v2);
    }
}

.size_m {
    .title {
        font: bold var(--font-l-v2);
    }

    .text {
        font: var(--font-m-v2);
    }
}

.size_l {
    .title {
        font: bold var(--font-xl-v2);
    }

    .text {
        font: var(--font-l-v2);
    }
}