.primary {
    .title {
        font: var(--font-l);
        color: var(--color-text-primary);
    }

    .text {
        color: var(--color-text-primary);
    }
}

.error {
    .title {
        color: var(--color-state-cancel);
    }

    .text {
        color: var(--color-state-cancel);
    }
}

.accent {
    .title,
    .text {
        color: var(--color-state-accent);
    }
}

.hint {
    .title,
    .text {
        color: var(--color-text-hint);
    }
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.size_s {
    .title {
        font: bold var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: bold var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: bold var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}
