.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
}

.switchers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.lang {
    color: var(--inverted-secondary-color);
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
    border-radius: 0 8px 8px 0;
    padding-right: 12px;
    padding-left: 8px;
    outline-color: transparent;
}

.items {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex: 1;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }
}

// redesigned

.SidebarV2 {
    background: var(--light-bg-v2);
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    border-radius: 32px;
    position: relative;
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .items {
        gap: 16px;
        margin: 0;
        display: flex;
        flex: 1;
    }
}
