.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.lang {
    color: var(--inverted-secondary-color);
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
    border-radius: 0 8px 8px 0;
    padding-right: 12px;
    padding-left: 8px;
    outline-color: transparent;
}

.items {
    margin-top: 20px;
    margin-left: 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }
}
