.item {
    display: flex;
    align-items: center;
    text-decoration: none;

    .link {
        margin-left: 10px;
        white-space: nowrap;
        opacity: 1;
    }

    .icon {
        fill: var(--inverted-primary-color);
    }
}

.collapsed {
    .link {
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}


.itemV2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 16px;
    width: 100%;

    .link {
        margin-left: 12px;
        white-space: nowrap;
        display: inline-block;

        &:focus {
            outline: 2px solid var(--accent-v2);
        }
    }
}
.collapsedV2 {
    padding: 0 8px;
    justify-content: center;
    .link {
        display: none;
    }
}

.active {
    background-color: var(--accent-bg-v2);
    position: relative;
    border-left: 3px solid var(--accent-v2);
}