.item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 16px;
    width: 100%;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;

    .link {
        margin-left: 10px;
        white-space: nowrap;
        display: inline-block;
    }

    &:hover {
        background-color: var(--color-bg-default);
    }
}

.collapsed {
    padding: 0 8px;
    justify-content: center;

    .link {
        display: none;
    }
}

.active {
    background-color: var(--color-bg-light);
    color: var(--color-state-accent);
    position: relative;
    border-left: 3px solid var(--color-state-accent);
}
