.LIST {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.PLATE {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 14px;
}

.notFound {
    margin-top: 100px;
    text-align: center;
}