.InputWrapper {
    display: flex;
    align-items: baseline;
    margin: 6px 0;
}

.label {
    margin-right: 8px;
    color: var(--secondary-color);
}

.input {
    flex: 1;
    color: var(--primary-color);
    background: var(--bg-color);
    padding: 8px;
    border: 1px solid var(--card-border);
    border-radius: var(--radius-m);
    outline-color: var(--card-border);
}

.readonly {
    .label {
        opacity: 0.8;
    }

    .input {
        cursor: not-allowed;
        opacity: 0.6;
    }
}
