.popup {
    position: relative;
    width: fit-content;
}

.menu {
    border-radius: var(--radius-l);
    overflow: hidden;
    background-color: var(--color-bg-dark);
    box-shadow: 0 0 10px 0 var(--shadow-dark);
}

.active {
    color: var(--color-state-accent);
    background-color: var(--color-bg-default);
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.disabled {
    opacity: 0.5;
}

.readonly {
    .label {
        opacity: 0.8;
    }
}

.selected {
    color: var(--color-state-accent);
    background-color: var(--color-bg-dark);
}

.trigger {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

