.popup {
    position: relative;
    width: fit-content;
}

.menu {
    border-radius: var(--radius-l);
    overflow: hidden;
    box-shadow: 0 4px 12px 0 var(--shadow-dark);
}

.active {
    background-color: var(--color-bg-dark);
    color: var(--color-text-primary);
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.disabled {
    opacity: 0.5;
}

.selected {
    color: var(--color-state-accent);
    background-color: var(--color-bg-light);
    font-weight: bold;

    &:hover {
        cursor: default;
    }
}

.trigger {
    background: none;
    margin: 0;
    border: none;
    cursor: pointer;

    &:active {
        opacity: 0.7;
    }
}
