.Page {
    flex-grow: 1;
    padding: 30px;
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    overflow-y: auto;
    color: var(--primary-color);
}

.PageV2 {
    height: 100%;
}

.trigger {
    height: 20px;
}

.transparent {
    background-color: transparent;
}

.filled {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: var(--color-bg-light);
    border-radius: var(--radius-xl);
    padding: 26px;
    box-shadow: 0 2px 10px 0 var(--shadow-default);
}
