.Page {
    flex-grow: 1;
    padding: 30px;
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    overflow-y: auto;
    color: var(--primary-color);
}

.PageV2 {
    overflow-y: auto;
}

.trigger {
    height: 20px;
}
