.AppLink {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    &:active {
        opacity: 0.7;
    }
}

.primary {
    color: var(--color-text-primary);

    &:hover {
        color: var(--color-state-accent);
    }
    &:active {
        background-color: var(--color-bg-default);
    }
    &:focus {
        box-shadow: 0 0 0 2px var(--shadow-accent);
    }
}

.red {
    color: var(--color-state-cancel);
    text-decoration: none;
    outline: none;

    &:hover {
        opacity: 0.8;
    }
    &:focus,
    &:active {
        box-shadow: 0 4px 12px 0 var(--color-state-cancel);
    }
}

.filledBtn {
    font: bold var(--font-m);
    background-color: var(--color-bg-accent);
    color: var(--color-text-primary);
    border: 1px solid var(--color-bg-accent);
    border-radius: var(--radius-xl);
    box-shadow: 0 2px 10px 0 var(--shadow-default);
    transition: all 0.3s ease;
    padding: 8px 16px;

    &:focus,
    &:active {
        box-shadow: 0 0 0 2px var(--shadow-accent);
    }

    &:hover {
        background-color: var(--color-state-accent);
        border: 1px solid var(--color-state-accent);
        color: var(--color-text-inverted);
        box-shadow: 0 2px 8px 0 var(--shadow-dark);
    }
}
