.app.dark {
  --bg-color: #0c1e2d;
  --inverted-bg-color: #8ea5b7;

  --primary-color: #b5cfde;
  --secondary-color: #7097b4;

  --inverted-primary-color: #043f7a;
  --inverted-secondary-color: #1e80ff;
}