.app.dark {
    --bg-color: #22272e;
    --inverted-bg-color: #aec0d0;
    --primary-color: #cbd6e1;
    --secondary-color: #749fcb;
    --inverted-primary-color: #2871af;
    --inverted-secondary-color: #04428c;
}
