.app_dark_theme {
    --bg-color: #232425;
    --primary-color: #a8a8ad;
    --secondary-color: #b0b0b4;
    --inverted-bg-color: #363639;
    --inverted-primary-color: #c3c3c9;
    --inverted-secondary-color: #88888c;
}
