.app_green_theme {
    --bg-color: #eaf8f6;
    --primary-color: #3a635c;
    --secondary-color: #404245;
    --inverted-bg-color: #3a635c;
    --inverted-primary-color: #eaf8f6;
    --inverted-secondary-color: #98c2bc;

    // skeleton
    --skeleton-color: #b6e3dd;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #53535a;

    // card
    --card-bg: #cee7e2;

    // scrollbar
    --scroll-track: #bdded9;
    --scroll-thumb: #93b2ae;
    --scroll-thumb-hover: #678682;

    // view selector
    --selector-bg: #168573;
}
