.app_green_theme {
    --bg-color: #eaf8f6;
    --primary-color: #2a4944;
    --secondary-color: #3f6760;
    --inverted-bg-color: #3a635c;
    --inverted-primary-color: #eaf8f6;
    --box-shadow: rgba(0 0 0 / 10%);

    // redesigned

    /* Background colors */
    --color-bg-dark: #cceae7;
    --color-bg-default: #e9fbf9;
    --color-bg-light: #ffffff;
    --color-bg-accent: #82c0b6;

    /* Text colors */
    --color-text-primary: #0e1810;
    --color-text-inverted: #ffffff;
    --color-text-hint: #b1c1be;

    /* State colors */
    --color-state-cancel: #7a4244;
    --color-state-save: #107162;
    --color-state-accent: #1e8776;

    /* Special colors */
    --color-icon: #49998d;

    /* Shadows */
    --shadow-default: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.2);
    --shadow-accent: rgba(20, 74, 67, 0.3);


    // skeleton
    --skeleton-bg: #c8dfdc;
    --skeleton-color: #b9e4dd;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #53535a;

    // card
    --card-bg: #cee7e2;
    --card-border: #789690;

    // list-box
    --popover-bg: #d8e8e5;
    --popover-border: #849894;

    // scrollbar
    --scroll-track: #bdded9;
    --scroll-thumb: #93b2ae;
    --scroll-thumb-hover: #678682;

    // view selector
    --selector-bg: #168573;

    // star
    --star-normal: #d6d6e3;
    --star-selected: rgb(255 199 0 / 60%);
    --star-border: rgba(0 0 0 / 30%);
}
