.app_green_theme {
    --bg-color: #f4fbfa;
    --primary-color: #3a635c;
    --secondary-color: #2b4a33;
    --inverted-bg-color: #3a635c;
    --inverted-primary-color: #f4fbfa;
    --inverted-secondary-color: #98c2bc;
}
