.app.light {
  --bg-color: #ecf4fc;
  --inverted-bg-color: #52647e;

  --primary-color: #043f7a;
  --secondary-color: #1e80ff;

  --inverted-primary-color: #deedf6;
  --inverted-secondary-color: #a7cde8;
}