:root {
    --bg-color: #ecf4fc;
    --inverted-bg-color: #52647e;
    --primary-color: #778fb0;
    --secondary-color: #414b59;
    --inverted-primary-color: #9ecce8;
    --inverted-secondary-color: #bcbdbe;
}
