.app.light {
  --bg-color: #ecf4fc;
  --inverted-bg-color: #07072d;

  --primary-color: #043f7a;
  --secondary-color: #1e80ff;

  --inverted-primary-color: #5db75d;
  --inverted-secondary-color: #93e093;
}