.Icon {
    fill: var(--icon-v2);
    color: var(--icon-v2);
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.button:hover .Icon {
    color: var(--accent-v2);
    fill: var(--accent-v2);
}