.Icon {
  border-radius: 50%;
}

.normal {
  fill: var(--color-icon);
  color: var(--color-icon);
  &:hover {
    color: var(--color-state-accent);
  }
}

.hint {
  fill: var(--color-text-hint);
  color: var(--color-text-hint);
  &:hover {
    color: var(--color-icon);
  }
}

.iconBtn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    color: var(--color-state-accent);
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 2px var(--shadow-accent);
  }
}
