.label {
    color: var(--secondary-color);
}

.trigger {
    background: var(--bg-color);
    border-radius: var(--radius-m);
    border: none;
    outline-color: transparent;
    padding: 0;
    margin: 0;

    button {
        padding: 8px 12px;
        border-color: var(--card-border);
        border-radius: var(--radius-m);
    }
}

.options {
    position: absolute;
    z-index: 1000;
    color: var(--primary-color);
    background: var(--listbox-bg);
    border: 1px solid var(--listbox-border);
    min-width: 120px;
    width: fit-content;
    max-width: 300px;
}

.item {
    padding: 10px 20px;
    cursor: pointer;
}

.active {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.readonly {
    .label {
        opacity: 0.8;
    }
}
