.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.links,
.actions {
    margin-left: auto;
}

.menuIcon {
    fill: var(--inverted-primary-color);
}

.mainLink {
    padding-right: 15px;
}

.appName {
    font: var(--font-xl);
    text-transform: uppercase;
    margin-left: 16px;
    flex: 1;
}

.notifications {
    min-height: 150px;
    max-height: 300px;
    width: 500px;
    overflow-y: auto;
    padding-right: 8px;
}
