.Button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: var(--radius-l);
    color: var(--text-v2);
    background-color: var(--bg-v2);
    box-shadow: 0 2px 10px 0 var(--box-shadow-v2);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover {
        color: #fff;
        background-color: var(--accent-v2);
        box-shadow: 0 4px 12px 0 var(--box-shadow-v2);
    }
    &:focus {
        outline: 2px solid var(--accent-v2);
    }
    &:active {
        outline: 2px solid var(--accent-v2);
    }
}

.outline {
    border: 1px solid var(--accent-v2);
    color: var(--accent-v2);
    background: var(--bg-v2);
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        color: #fff;
        background-color: var(--accent-v2);
        box-shadow: 0 4px 12px 0 var(--box-shadow-v2);
    }
}

.outlineRed {
    border: 1px solid var(--cancel-v2);
    color: var(--cancel-v2);
    background: none;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: rgba(247, 119, 119, 0.1);
        color: #f33;
    }
}

.filled {
    background: var(--accent-bg-v2);
    color: var(--text-v2);
    border: none;
    outline: none;
    border-radius: 34px;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: var(--accent-v2);
        color: #fff;
    }
}
