.Button {
    cursor: pointer;
    border-radius: var(--radius-l);
    color: var(--text-v2);
    background-color: var(--dark-bg-v2);
    border: 1px solid var(--dark-bg-v2);
    box-shadow: 0 2px 10px 0 var(--box-shadow-v2);
    transition: all 0.3s ease;
    padding: 8px 16px;

    &:hover {
        color: #fff;
        background-color: var(--accent-v2);
        box-shadow: 0 4px 12px 0 var(--box-dark-shadow-v2);
    }
    &:focus {
        outline: 2px solid var(--accent-v2);
    }
    &:active {
        outline: 2px solid var(--accent-v2);
    }
}

.outline {
    border: 1px solid var(--accent-v2);
    color: var(--accent-v2);
    background: var(--light-bg-v2);

    &:hover {
        color: #fff;
        background-color: var(--accent-v2);
        box-shadow: 0 4px 12px 0 var(--box-dark-shadow-v2);
    }
}

.outlineRed {
    border: 1px solid var(--cancel-v2);
    color: var(--cancel-v2);
    background: none;

    &:hover {
        background-color: rgba(247, 119, 119, 0.1);
        color: #f33;
    }
}

.filled {
    background-color: var(--accent-bg-v2);
    color: var(--text-v2);
    border: 1px solid var(--accent-bg-v2);

    &:hover {
        background-color: var(--accent-v2);
        border: 1px solid var(--accent-v2);
        color: var(--text-iverted-v2);
    }
}


.size_s {
    font: var(--font-s-v2);
    padding: 4px 12px;
}

.size_m {
    font: var(--font-m-v2);
}

.size_l {
    font: var(--font-l-v2);
}


.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}