.Card {
    box-shadow: 0 2px 10px 0 var(--shadow-default);
    display: flex;
    flex-direction: column;
}

.withoutPaddings {
    padding: 0;
}

.normal {
    background: var(--color-bg-default);
}

.dark {
    background: var(--color-bg-dark);
}

.outlined {
    border: 1px solid var(--color-bg-default);
}

.light {
    background-color: var(--color-bg-light);
}

.normalBorder {
    border-radius: 12px;
}

.roundBorder {
    border-radius: 24px;
}

.max {
    width: 100%;
}

.padding_0 {
    padding: 0;
}

.padding_8 {
    padding: 8px 12px;
}

.padding_16 {
    padding: 16px 20px;
}

.padding_24 {
    padding: 24px 28px;
}

.gap_0 {
    gap: 0;
}

.gap_8 {
    gap: 8px;
}

.gap_16 {
    gap: 16px;
}

.gap_24 {
    gap: 24px;
}
