.Wrapper {
    display: flex;
    align-items: center;
    opacity: 1;
}

.label {
    margin-right: 8px;
    color: var(--secondary-color);
}

.select {
    background: var(--color-bg-light);
    outline-color: var(--card-border);
    color: var(--primary-color);
    padding: 6px 10px 6px 6px;
    border: 1px solid var(--color-state-accent);
    border-radius: var(--radius-m);
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}

.readonly {
    opacity: 0.6;

    .input {
        cursor: not-allowed;
    }
}
