.starIcon {
    cursor: pointer;
    stroke-width: 2;
    stroke: var(--star-border);
}

.normal {
    fill: var(--star-normal);
}

.hovered {
    fill: var(--star-selected);
}

.selected {
    cursor: auto;
}
