.ProfileCard {
    padding: 20px 40px;
    background-color: var(--color-bg-light);
    border-radius: var(--radius-xl);
    box-shadow: 0 2px 10px 0 var(--shadow-default);
}

.loading,
.error {
    height: 300px;
}

.input {
    width: 100%;
}
