.ProfileCard {
    padding: 20px 40px;
    border: 2px solid var(--inverted-secondary-color);
}

.loading,
.error {
    height: 300px;
}

.avatarWrapper {
    object-fit: cover;
}

.editing {
    border: 2px solid var(--inverted-bg-color);
}

.input {
    width: 100%;
}
