.loading,
.error {
    min-height: 456px;
}

.input {
    width: 100%;
}

.select {
    margin: 6px 0;
}

@media screen and (max-width: 1100px) {
    .ProfileCard {
        padding: 16px;
    }

    .inputsWrapper {
        flex-direction: column;
        gap: 4px;
    }
}
