.Tabs {
    display: flex;
    gap: 8px;
}

.tab {
    cursor: pointer;
    padding: 10px 16px;

    &:hover {
        color: var(--primary-color);
        border-color: var(--secondary-color);
    }
}
