.CommentCard {
    padding: 14px 18px;
    border: 1px solid var(--card-border);
    border-radius: var(--radius-l);
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.loading {
    border: none;
}

.text {
    text-align: justify;
}
