.CommentCard {
    padding: 14px 18px;
    border-radius: var(--radius-l);
    background-color: var(--light-bg-v2);
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 12px;
    border-radius: var(--radius-xl);

    &:hover {
        background-color: var(--bg-v2);
        box-shadow: 0 2px 10px 0 var(--box-shadow-v2);
    }
}

.loading {
    border: none;
}

.text {
    text-align: justify;
}
