.Card {
    padding: 15px;
    border-radius: var(--radius-l);
}

.normal {
    background: var(--card-bg);
    border: 1px solid var(--card-border);
    color: var(--primary-color);
}

.outlined {
    border: 1px solid var(--card-border);
    color: var(--secondary-color);
}
