.InputWrapper {
    display: flex;
    align-items: center;
    margin: 6px 0;
    flex: 1;
    width: 100%;
    color: var(--color-text-primary);
    background-color: var(--color-bg-default);
    padding: 6px 16px;
    border: 2px solid var(--color-bg-accent);
    border-radius: var(--radius-xl);
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:not(.readonly):hover {
        background-color: var(--color-bg-light);
        cursor: text;
    }

    &:not(.readonly):focus-within {
        background-color: var(--color-bg-light);
    }

    &.readonly {
        cursor: not-allowed;
        opacity: 0.6;
        background-color: var(--color-bg-default);

        .input {
            opacity: 1;
        }
    }
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.label {
    cursor: default;
    margin-right: 8px;
    color: var(--color-text-primary);
}

.input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--color-text-primary);

    &::placeholder {
        color: var(--color-text-hint);
    }

    &:-webkit-autofill {
        background-color: var(--color-bg-light) !important;
        -webkit-text-fill-color: var(--color-text-primary) !important;
        transition: background-color 5000s ease-in-out 0s;
        color: var(--color-text-primary) !important;
    }

}

.focused {
    border: 2px solid var(--color-state-accent);
    background-color: var(--color-bg-light);

    .addonLeft svg,
    .addonRight svg {
        color: var(--color-state-accent);
    }
}

.readonly {
    .input {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.addonLeft,
.addonRight {
    display: flex;
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}
