.InputWrapper {
    display: flex;
    align-items: baseline;
    margin: 6px 0;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.label {
    margin-right: 8px;
    color: var(--text-v2);
}

.input {
    flex: 1;
    width: 100%;
    color: var(--text-v2);
    background: var(--bg-v2);
    padding: 8px 14px;
    border: 1px solid var(--accent-bg-v2);
    border-radius: 8px;

    &:focus {
        outline: 2px solid var(--accent-v2);
    }
}

.readonly {
    .label {
        opacity: 0.8;
    }

    .input {
        cursor: not-allowed;
        opacity: 0.6;
    }
}
