.Code {
    border: 1px solid var(--hint-v2);
    padding: 20px;
    position: relative;
    background-color: var(--code-bg);
    color: var(--inverted-primary-color);
    overflow: auto;
}

.copyBtn {
    position: absolute;
    right: 15px;
}

.copyIcon path {
    stroke: var(--primary-color);
    fill: var(--bg-color);
}
