.MainLayout {
  display: grid;
  grid-template-areas: 'left content right';
  grid-template-columns: min-content 1fr min-content;
  gap: 12px;
}

.left {
  grid-area: left;
}
.content {
  grid-area: content;
  margin-top: 16px;
}
.right {
  grid-area: right;
}

.left,
.right {
  position: sticky;
  top: 16px;
  height: fit-content;
}