.MainLayout {
  width: 100%;
  display: grid;
  grid-template-areas: 'left content right';
  grid-template-columns: 96px 1fr 200px;
  gap: 16px;
}

.left {
  grid-area: left;
}
.content {
  width: 100%;
  grid-area: content;
}
.right {
  grid-area: right;
}

.left,
.right {
  position: sticky;
  top: 16px;
  height: fit-content;
}